<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Instituto AB Systems</a>
    </div>
</div>

<img src="img/251.png" alt="Perfil" class="img-fluid d-block mx-auto my-3" style="max-width: 180px; height: auto; border: 3px solid #1a2d1a; border-radius: 50%;" />
<p style="text-align: center; color: white;">ADMIN</p>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<nav class="flex-column">
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> Estudiantes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registro">
                <span class="bi bi-pencil-square-fill-nav-menu" aria-hidden="true"></span> Registro
            </NavLink>
        </div>
    </div>
</nav>

